<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd 
	    http://www.springframework.org/schema/context 
	    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="persona1" class="modelo.entidad.Persona">
		<property name="nombre" value="Jarri Poter"></property>
		<property name="edad" value="23"></property>
		<property name="peso" value="58.5"></property>
	</bean>
</beans> 

